// /*GLOBAL BEGIN*/

// /**************** BEGIN GLOBAL CSS RULES [HEADER/FOOTER] ******************/
// /*                                                                        */
// /*      GLOBAL elements are those elements that appear on EVERY           */
// /*      page type. These occur mostly in the HEADER/FOOTER                */
// /*      areas and are to be treated with immense respect.                 */
// /*                                                                        */
// /**************************************************************************/

.global_outside {
	width:100%;
	min-width: 980px;
}
.container {
	position:relative;
}
.container section#top_region img {
	max-width:100%;
	height:auto;
}
#body_wrapper {
	overflow: auto;
}
.italics{
	font-style: italic;
	font-family: Georgia;
}
.margin_bleed {
	margin: auto -1000px;
	padding-left: 1000px;
	padding-right: 1000px;
	overflow: auto;
}
nav li {
	cursor: pointer;
}

/******** HEADER ********/
.sign-in {
	margin-right: 0;
}
#home-logo {
	float: left;
	padding-right: 20px;
	padding-left: 13px;
	margin-bottom: -10px;
	position: relative;
	top: 2px;
}
.page-title {
	border-left: 1px solid #eaeaea;
	padding-left: 20px;
}
.desktop-search {
	float: right;
	width: 220px;
	padding: 0;
	margin-right: 0;
	position: relative;
	top: -2px;
}
.search  {
	input {
		margin: 0;
	}
}
.jumbotron.homepage-jumbotron {
	margin-bottom: 0;
	position: relative;
	.site-logo {
		color: #fff;
		font-size: 75px;
		position: relative;
		top: -14px;
		left: -2px;
		margin-bottom: -26px;
	}
}



/******** FOOTER ********/
.global-footer {
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&.btn {
			text-decoration: none;
		}
	}
}
.footer-social {
	position: relative;
	top: -8px;
	img {
		position: relative;
		top: 8px;
	}
	li {
		height: 26px;
	}
}
.church-branding {
	padding: 20px;
	p {
		margin: 0;
	}
	a {
		color: #ccc;
		text-decoration: none;
		&:hover {
			color: #fff;
		}
	}
}
#lds_church_link {
	background: url('../images/foot/footer_sprite.png') no-repeat;
	background-position: 0 -40px;
	height: 75px;
	width: 188px;
	overflow: hidden;
	display: block;
	text-indent: -9999px;
	margin: 0 auto;
	&:hover {
		background-position: 0 -116px;
	}
}
/******** END FOOTER ********/


/**************** END GLOBAL CSS RULES [HEADER/FOOTER] ******************/

/*GLOBAL END*/
