	</section><!-- end main_content -->
</div><!-- end global_outside -->


<footer id="mega_footer" class="global_outside">
	

	<!--[if IE]>
	<style>
	#slideout2 {
				display: block;
				position: fixed;
				top: 200px;
				width: 485px;
				right: -450px;
	            height: 145px;
				background: #326ba9;
				-webkit-transition-duration: 0.5s;
				-moz-transition-duration: 0.5s;
				-o-transition-duration: 0.5s;
				transition-duration: 0.5s;
				-webkit-border-radius: 5px 0 0 5px;
				-moz-border-radius: 5px 0 0 5px;
				border-radius: 5px 0 0 5px;
				outline 0;
			}
			#slideout2 > img
			{
				float: left;
				margin: 12px 0px;
				outline: 0;
				border: none;
			}
			#slideout {
				display: none;
			}
		</style>

	<![endif]-->
	<div id="slideout" tabindex="100">
		<div class='slideout_img'>
			<img class='slideout_conversation' src="/images/conversation.png" alt="Conversation">
			<hr>
			<img class='slideout_feedback' src="/images/feedback.png" alt="Feedback">
		</div>
		<div id="slideout_inner">
			<h3 id="slide-header">We want to hear from you!</h3><p class="slide-text">BYU-Idaho values suggestions and ideas that can improve the university.<br/> Use our Feedback Form to let us know what you think.</p>
            <div id="feedback-button"><a href="http://www.byui.edu/feedback/"><img src="/images/feedback-button.png" /></a></div>
        </div>
	</div>
	<a id="slideout2" target="_blank" href="http://www.byui.edu/feedback/">
		<div class='slideout_img'>
			<img class='slideout_conversation' src="/images/conversation.png" alt="Conversation">
			<hr>
			<img class='slideout_feedback' src="/images/feedback.png" alt="Feedback">
		</div>
	</a>
</footer><!-- end mega_footer global_outside -->


</body>
</html>
